@media only screen and (max-width: 910px){
    body{
        margin: 0px 5px;
    }
    .navbar{
        width: 625px;
    }
    .news{
        margin: auto;
    }
    .rightContainer{
        display: none
    }
}
@media only screen and (max-height: 400px){
    .register{
        margin: auto;
    }
}
@media only screen and (max-height: 300px){
    .login{
        margin: auto;
    }
}